Flask==3.0.0
pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.3
seaborn==0.13.2
scikit-learn==1.4.1.post1
tensorflow==2.15.0
opencv-python-headless==4.9.0.80
pillow==10.2.0
Werkzeug==3.0.1
gunicorn==21.2.0
